:root {
    --fg-clr-normal: #111;                                       
   
    --bg-clr-light: gainsboro;                                  
    /*--bg-clr-gray: rgb(19, 64, 30); 
    --bg-clr-iceblue: rgb(13, 79, 19
   
    --line-clr-blue: rgb(36, 64, 129);
    --line-clr-darkgray: rgb(50, 93, 107); */
    background-image: linear-gradient(45deg, rgb(238, 185, 13),rgb(79, 54, 155));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {                                                   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.main {                                                         
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: .5rem;
    background-color: var(--bg-clr-iceblue);
    border: 2px solid var(--line-clr-blue);
    box-shadow: .125rem .125rem .125rem var(--bg-clr-gray);
    min-width: 20%;
    min-height: 35%;
    padding: 1rem;
}

.calc-btn {     
    color: whitesmoke;                                               
    height:  100%;
    width: auto;
    font-size: clamp(1rem, 1vw, 2rem);
    background-color: rgb(39, 36, 36);
    
}   

.calc-screen {  
    display: flex;                                             
    flex: 1;
    align-items: center;   
    font-family: "Calc";                                     
    font-size: clamp(.55rem, 2vw, 3.5rem);                     
    box-shadow: inset 1px 1px 0px var(--bg-clr-gray);           
    width: 296px;
    height: clamp(1rem, 3vw, 4rem);
    border: 1px solid var(--line-clr-darkgray);
    background: var(--bg-clr-light);
    color: var(--fg-clr-normal);
    padding: .125rem;
    overflow: hidden;
}




.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-4 {
    grid-column: span 4;
}

.btnSwitch {
    background-image:linear-gradient(45deg, rgb(31, 113, 37),rgb(110, 166, 176));
}

@font-face {
    font-family: "Calc";
    src: url(digital-7\ \(mono\).ttf);
}